<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">about</a>
      <a href="/works">works</a>
    </nav>

    <h1>LA HISTORIA DEL MAESTRO MIYAZAKI</h1>

    <div class="display">
        
        <div>
            <p>
                Hidetaka Miyazaki es un diseñador de videojuegos japonés y actual presidente de la compañía de videojuegos From Software. Miyazaki empezó a trabajar en From Software como programador en el 2004, y después de trabajar en la saga Armored Core, se hizo conocido por crear la franquicia Souls. Aunque Miyazaki ha dirigido los dos primeros videojuegos de la serie, decidió tomar un papel menos activo en el desarrollo de Dark Souls II, supervisando el proyecto mientras Tomohiro Shibuya y Yui Tanimura se encargaron de la co-dirección.
            </p>
        </div>
        <div>
            <img src="images/miyazaki-about.jpg" alt="foto de miyazaki" width="400px" />
        </div>
    </div>
    <div class="display">
         <div>
            <img src="images/foto.jpg" alt="foto de miyazaki" width="400px" />
        </div>
        <div>
            <p>
                Después de graduarse, Miyazaki trabajó para la empresa estadounidense, Oracle Corporation. Posteriormente Miyazaki descubrió que algunas compañías de juegos le ofrecían empleo, una de ellas era From Software, donde Miyazaki comenzó a trabajar en la serie Armored Core. Después de descubrir lo que más tarde sería Demon's Souls, Miyazaki se emocionó con la posibilidad del título y se ofreció a ayudar. A pesar de que el juego vendió poco al principio, el número de ventas comenzó a aumentar después de unos meses y pronto se encontró dispuesto a exportar el título fuera de Japón. Después del lanzamiento del juego el cual sería su sucesor espiritual Dark Souls y Dark Souls II, Miyazaki fue ascendido al cargo de presidente en 2014. Después del lanzamiento del Prepare to die edition de Dark Souls en agosto de 2012, Sony Computer Entertainment se dirijo a From Software para tratar el desarrollo cooperativo de un nuevo título: Bloodborne.            </p>
        </div>
       
    </div>
    <div class="display">
       
       <div>
           <p>
            Miyazaki preguntó sobre la posibilidad de desarrollar un juego para consolas de octava generación, y el concepto de transmisión hermética fue desarrollado a partir de ahí. No había historia o conexiones de ajuste a los títulos anteriores de From Software, a pesar de que Miyazaki admitió que "lleva el ADN de Demon's Souls y su diseño de niveles muy específico". El desarrollo de Dark Souls II fue paralelo a él así como su remasterización Dark Souls 2 Scholar of the First Sin (Miyazaki simplemente lo supervisó), ya que era incapaz de dirigir los dos títulos de forma simultánea. Después de la Salida de Bloodborne en marzo de 2015, Miyazaki regresó a la saga Souls como el director de Dark Souls III, con la ayuda del equipo de Steel Battalion: Heavy Armor y dirigido por Isamu Okano.       </div>
       <div>
           <img src="images/foto1.jpg" alt="foto de miyazaki" width="400px" />
       </div>
   </div>

    <footer id="footer">
      Contacto para eventos y fiestas al Paypal de Daniel y Sergio
    </footer>
  </body>
</html>
