<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav>
        <a href="/home">Home</a>
        <a href="/about">about</a>
        <a href="/works">works</a>
    </nav>

       
<h1>Hidetaka aka fucking Miyazaki</h1>
    <div>
    <div class="display">
        <div>
        <img  src="images/miyazaki-god.jpg" alt="fsdfasdfa" width="300ppx">
    </div> 

    
        <div>            <p>Como amantes del buen vino, del buen gusto y por lo tanto, de los videojuegos y el aislamiento social, Sergio Puyod y Daniel Cristobal admiran profundamente a este otaku Japones.
            Si bien es cierto que con la salida de Elden Ring (el peor juego de Miyazaki en opinion de Daniel #changeMyMind) el listón de dificultad y con ello el umbral de acceso a los Souls
            se ha rebajado al nivel de flifthy casuals, la verdad es que son juegos altamente disfrutables gracias a las altas cantidades de masoquismo que dispersan.
            <br>  Bosses dificiles, logros imposibles, molinos de hierro a quemar con antorchas y un sinfin de tonterias extravagantes más han logrado que los juegos de este buen señor
            se ganen el apelativo de "Git gud".
            <br> Si no sabes que es eso, no sigas en la pagina y sigue con tu juego de futbol clonico.
            <br>Aqui no somos populares, guays o tenemos amigos.
            <br>Aqui somos <b>rial hardcore alpha male gamers</b>.</p>        
        </div>     

    </div>

    <div class="display"  >
        <a href="/works" ><button id="botones" >Work</button></a> 
        <a href="/about" ><button  id="botones" >About</button></a> 
    </div>

    <footer id="footer">
               Contacto para eventos y fiestas al Paypal de Daniel y Sergio
    </footer>

      
</body>
</html>

