<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav><a href="/home">Home</a>
        <a href="/about">about</a>
        <a href="/works">works</a></nav>
        
        <h1>Works</h1>
        
    
        <footer id="footer">
            Contacto para eventos y fiestas al Paypal de Daniel y Sergio
        </footer>
</body>
</html>